/*Basic element styles*/
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
    background: #d4d4d4
}

.wrapper {
    overflow-x: hidden;
    height: 100%;
}


h2 {
    text-align: center;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 34px;

}

h3 {
    text-align: left;
    color: #4d4d4d;
    font-size: 22px;
    margin-bottom: 40px;

}

a {
    text-decoration: none;
    color: #003366;
}

li {
    text-align: justify;
    line-height: 2;
    font-size: 18px;
    padding-top: 10px;
    list-style-type: none;
    max-width: 500px;
}

li:hover {
    color: #222222;
    cursor: pointer;
    font-weight: bold;

}

/* Header and Navigation*/


nav {
    width: 100vw;
    background-color: #ffff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 1;
    padding-top: 10px;
    justify-content: space-evenly;
}

nav h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    padding-left: 3vw;
}


/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;

}

.nav-links li a {
    text-decoration: none;
    margin: 0px 2vw;
    font-size: 26px;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #072c5d;
    position: absolute;
    transition: all ease-in-out 250ms;
    /*margin: 0 0 0 10%;*/
}

.nav-links li a:hover::before {
    width: 80%;
}

.color {
    color: #3875d7;
    font-family: "High Tower Text", serif;
    font-size: 45px;
    display: inline;

}

/*Styling Buttons*/

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #242424;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Containers */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    background: #d4d4d4;

}

.main_content {
    width: 760px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 40px 40px 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.content {
    width: 968px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 40px 40px 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}


/*  flex form  */
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.left {
    width: 500px;
}

.right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 350px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


/*Sections*/
#welcome h2, h3 {
    text-align: center;
}


#download_section {
    text-align: center;

}

#help_section {
    text-align: justify;
}

#help_section h3, p {
    text-align: justify;
    margin: 10px 0;
    line-height: 1.5em;
}

#help_section h2 {
    margin-bottom: 20px;
}

/*Images*/
figcaption {
    color: #1369bc;
    margin-left: 40px;
    padding-bottom: 10px;

}

#rectangle {
    max-width: 90%;
    display: block;
    margin: 40px auto;
}

#square {
    max-width: 60%;
    display: block;
    margin: 40px auto;
}


/*Buttons and Forms*/
.myLabel {
    border: 1px #3875d7;
    color: white;
    background-color: #3875d7;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: block;
    justify-content: center;
    width: 40%;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


label.myLabel input[type="file"] {
    display: none;

}

.myLabel:hover {
    background: #222222;
    cursor: pointer;
    /*width: 20%;*/
}

#heading_select {
    max-width: 400px
}


select {
    background-color: #d4d4d4;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    background-color: #d4d4d4;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 8px 0 15px;
    position: center;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

select:hover {
    cursor: pointer;
    background-color: #b9b9b9;
}


#buttons {
    width: 100%;
}

#restart {
    background-color: white;
    color: #2e0303;
    padding: 14px 20px;
    margin: 60px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    max-width: 100px;

}

#restart:hover {
    color: #e31010;

}


#process {
    background-color: #3875d7;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 220px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#process:hover {
    background-color: #222222;
}

#download_btn {
    background-color: #3875d7;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    max-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#download_btn:hover {
    background-color: #222222;
}

#download_btn a {
    color: white;
}

#process, #download_btn {
    display: inline-block;
}


/*Toggle button*/
.switch {
    display: none;
}

.switch:not(*:root) {
    position: relative;
    /*display: inline-block;*/
    display: flex;
    float: right;
    width: 60px;
    height: 34px;
    margin: 20px 60px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 14px;
    bottom: 7px;
    /*background-color: transparent;*/
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: -8px 3px 0px 0px #fff;

}


input:checked + .slider:before {
    -webkit-transform: translateX(-11px);
    -ms-transform: translateX(-11px);
    transform: translateX(-11px);
    box-shadow: 26px 3px 0 0 #fff;

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}


/*Scrollbar style*/
.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d4d4d4;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #787878;

}


/*misc*/
#file_name {
    display: none;
}

#pk {
    display: none;
}

#headings {
    max-width: 400px;
    min-height: 200px;
    max-height: 340px;
    overflow-y: auto;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin-top: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

#headings li {
    padding-left: 15px;
    border-bottom: 1px solid #545454;
}


#headings li:hover {
    background-color: #b9b9b9;
}


#style_form h3 {
    text-align: left;
}

#page_settings {
    margin-left: 150px;

}

#page_settings input, select {
    width: 250px;
}

/*Media queries*/
@media screen and (max-width: 1024px) {

    h2 {
        font-size: 28px;
    }

    #page_settings {
        margin: 40px 0 0 0;
    }

    .content, .main_content {
        width: 500px;
    }

    .myLabel {
        font-size: 22px;
    }

    .flex-container {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    nav {
        z-index: 3;
        justify-content: start;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        padding-top: 15px;
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #3c3c3c;
        height: 20vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -300%);
        -webkit-clip-path: circle(50px at 90% -300%);
        transition: all 1.8s ease-out;
        pointer-events: none;
        z-index: 1;

    }

    .nav-links a {
        color: white;
    }

    .nav-links.open {
        /*clip-path: circle(1000px at 90% -30%);*/
        /*-webkit-clip-path: circle(1000px at 90% -30%);*/
        clip-path: circle(1000px at 110% -30%);
        -webkit-clip-path: circle(1000px at 110% -30%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    li.fade {
        opacity: 1;
    }

    .switch:not(*:root) {
        display: none;

    }

    #style_form h3 {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .content, .main_content {
        width: 400px;
    }

    #headings {
        width: 350px;
    }

    #heading_select {
        width: 350px;
    }

    .myLabel {
        font-size: 16px;
    }


}


@media screen and (max-width: 520px) {
    nav {
        padding: 4px 0 10px 0px;
    }

    nav h1 {
        font-size: 34px;
    }

    .color {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 20px;

    }

    .container {
        padding: 30px 0;
    }

    .content, .main_content {
        width: 300px;
    }


    #heading_select {
        width: 250px
    }


    #headings {
        width: 250px;
    }


    .myLabel {
        font-size: 14px;
    }

    .left {
        width: 90%;
    }

    .right {
        width: 90%;
    }

    #process {
        width: 185px;
        font-size: 16px;

    }

    #rectangle {
        max-width: 300px;
        display: block;
        margin: 5px auto;
    }

    #square {
        max-width: 300px;
        display: block;
        margin: 0px auto;
    }

    figcaption {
        font-size: 14px;
        text-align: left;

    }


}


