{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!--    Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">

    <!-- jQuery javascript urls -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" crossorigin="anonymous"></script>

    {# Set the BaseURL and retrieve csrf token #}
    <script>
        let getUrl = window.location;
        const baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split("/")[1];

        // get the csrf token
        function getCsrf() {
            return $("input[name='csrfmiddlewaretoken']").val();
        }
    </script>
    <!--Local javascript files-->
    <script src="{% static 'js/upload_file.js' %}"></script>
</head>

<body>
<header class="header">
    <h1 class="restart">Numbering <span class="color">@</span></h1>
</header>
<div class="container">
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>