{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numbering@</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!--    Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">

    <!-- jQuery javascript urls -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}

    {# Set the BaseURL and retrieve csrf token #}
    <script>
        let getUrl = window.location;
        const baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split("/")[0];

        // get the csrf token
        function getCsrf() {
            return $("input[name='csrfmiddlewaretoken']").val();
        }
    </script>


</head>

<body>
<div class="wrapper">
    <header class="header">
        <h1 class="restart inverted"><a href="/">Numbering <span class="color">@</span></a></h1>

        <label class="switch">
            <input type="checkbox" id="dark_mode">
            <span class="slider round"></span>
        </label>
        <nav>
            <ul>
                <li><a href="/help/">Help</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
    <script>
        let light = true;
        let myStorage = window.localStorage;
        let mode = myStorage.getItem('dark_mode');

        function dark_mode() {
            document.documentElement.classList.toggle('dark-mode');
            document.querySelectorAll('.inverted').forEach((result) => {
                result.classList.toggle('invert');
            });
        }


        if (mode === 'on') {
            $("#dark_mode").attr('checked', true);
            light = false;
            dark_mode();
        }


        $(document).ready(function () {
            $(".switch").change(function () {

                if (light) {
                    myStorage.setItem('dark_mode', 'on');
                    light = false;

                } else {
                    myStorage.setItem('dark_mode', 'off');
                    light = true;
                }

                dark_mode()
            });
        })


    </script>
</div>
</body>
</html>