{% extends 'base.html' %}{% load static %}
{% block head %}
    <!--Local javascript files-->
    <script src="{% static 'js/upload_file.js' %}"></script>
{% endblock head %}
{% block body %}
    <div class="main_content">


        <div id="welcome">
            {% if context == 0 %}
                <h2> No Headings Found! </h2>
                <h3>Please upload document that contains headings</h3>
            {% elif context == 1 %}
                <h2> Difficulty processing file! </h2>
                <h3>Please upload again or try a new document.</h3>
            {% elif context == 2 %}
                <h2> File has been deleted! </h2>
                <h3>Please upload a new file to be numbered.</h3>
            {% else %}
                <h2>Start Page Numbering @ Specific Page</h2>
                <h3>Select where the page numbering should start in a Word document</h3>
            {% endif %}

            <!-- Upload Form-->
            <form method="post" enctype="multipart/form-data" id="upload_form" action="process/" >
                {% csrf_token %}
                <label class="myLabel" title="Upload a file to be numbered">
                    {{ form }}
                    <span>Upload Word File</span>
                </label>
            </form>
            <br>
            <p>This tool uses page headings to break up the document.
                Please make sure to include <strong>
                    <a href="https://support.microsoft.com/en-us/office/add-a-heading-3eb8b917-56dc-4a17-891a-a026b2c790f2"
                       target="_blank">
                        Heading 1</a>
                </strong> headings</p>
        </div>
    </div>


{% endblock body %}
