{% extends 'base.html' %}

{% block body %}

    <div id="welcome">
        <h2>Start Page Numbering @ Specific Page</h2>
        <h3>Select where the page numbering should start in a Word document</h3>

        <!-- Upload Form-->
        <form method="post" enctype="multipart/form-data" id="upload_form">
            {% csrf_token %}
             <label class="myLabel" title="Upload a file to be numbered">
                    {{ form }}
                    <span>Upload Word File</span>
                </label>
{#            <button type="submit">Upload</button>#}
        </form>
    </div>

{% endblock body %}
