{% extends 'base.html' %}{% load custom_tags %}{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--Local javascript files-->
    <script src="{% static 'js/upload_file.js' %}"></script>
{% endblock head %}

{% block body %}
    <div class="content">
        <form id="style_form" class="flex-container" method="post" action="/download/">
            <!--  div to hold document headings-->
            <div id="heading_list" class="flex left">
                <h3>Page Headings</h3>
                <label for="position">Page Headers</label>
                <input class="readonly"  name="heading" id="heading_select" type="text" placeholder="Heading"
                       autocomplete="off" required>
                <ul class='scrollbar' id='headings'>
                    {% for key,heading in request.session.items %}
                        {% if key != 'primary_key' %}
                            <li value="{{ heading }}">{{ key }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="flex right">
                <div >
                    <!-- Page style form-->
                    <h3>Page Numbering settings</h3>
                    {#                <form id="style_form" method="post" action="/download/">#}
                    {% csrf_token %}

                    <input id="pk" name="pk" value="{{ request.session|get_item:"primary_key" }}">
{#                    <input type="text" id="heading_input" name="heading" placeholder="Heading"#}
{#                           oninvalid="setCustomValidity('Please choose a heading from the List!')">#}

                    <label for="position">Page Position</label>
                    <select id="number_position" name="position" title="Select the position of the numbers on the page">
                        <option value="left">Left</option>
                        <option value="center">Center</option>
                        <option value="right">Right</option>

                    </select>
                    <label for="numbering">Numbering Style for first section</label>
                    <select id="number_style" name="style" title="Select the number style for the first section">
                        <option value="">1, 2, 3,...</option>
                        <option value="lowerRoman">i, ii, iii,...</option>
                        <option value="lowerLetter">a, b, c,...</option>
                        <option value="upperLetter">A, B, C,...</option>
                        <option value="ordinal">1st, 2nd, 3rd, ...</option>
                        <option value="numberInDash">- 1 -, - 2 -, - 3 -, ...</option>
                    </select>

                    <label for="numbering">Numbering Style for main section</label>
                    <select id="number_style" name="style_main" title="Select the number style for the first section">
                        <option value="">1, 2, 3,...</option>
                        <option value="lowerRoman">i, ii, iii,...</option>
                        <option value="lowerLetter">a, b, c,...</option>
                        <option value="upperLetter">A, B, C,...</option>
                        <option value="ordinal">1st, 2nd, 3rd, ...</option>
                        <option value="numberInDash">- 1 -, - 2 -, - 3 -, ...</option>
                    </select>
                    <div id="buttons">
                        <button type="submit" class="inverted" id="process" title="Submit file to be numbered">Set Page
                            Numbers
                        </button>
                        <button class="restart" id="restart" title="Restart whole process"><i
                                class="fa fa-refresh fa-2x"></i></button>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock body %}
